*{
    margin: 2px;
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: auto;
    border: 1px solid black;
}


header{
    height: 80px;
    background-image: url("img/pattern.png");
    background-repeat: repeat-x;
    background-color: #4fa1ff;
}

.title{
    margin-top: 20px;
}

#logo{
    height: 50px;
    margin-top: 30px;
}

.caption{
    color: gray;
    font-size: 13px;
}

a{
    color: #4fa1ff;
    text-decoration: none;
}

.photo{
    width: 470px;
    height: 300px;
}

.photo-description{
    font-size: 12px;
}

.important-text{
    background-color: yellow;
}

.container{
    margin: 15px 0;
}

ul{
   padding-inline-start: 10px;
}

th{
    width: 300px;
    background-color: #4fa1ff;
    color: white;
}

table{
    border-collapse: collapse;
    text-align: left;
}

.description{
    width: 400px;
}

.lightblue{
    background-color: lightblue;
}